@page
@model SampleApp.RazorPage.Pages.SignModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="post" role="form">

    <div asp-validation-summary="ModelOnly"></div>


    <input type="hidden"  value="1" />

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Имя</label>
        <input type="text"  class="form-control" aria-describedby="emailHelp">
        <div id="textHelp" class="form-text">Имя пользователя</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Возраст</label>
        <input type="text"  class="form-control" aria-describedby="emailHelp">
        <div id="textHelp" class="form-text">Возраст</div>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

