@page
@model SampleApp.RazorPage.Pages.SignModel
@{
    ViewData["Title"] = "Регистрация";
}



<div class="row">



    <div class="col-md-6 col-md-offset-3">

        <h1>@ViewData["Title"]</h1>

        <form action="sign.php" method="POST" class="form-signin" role="form">
            <input type="text" name="name" class="form-control" placeholder="Name"
                   required autofocus>
            <input type="email" name="email" class="form-control" placeholder="Email"
                   required autofocus>
            <input type="password" name="password" class="form-control"
                   placeholder="Password" required autofocus>
            <input type="password" name="password_confirmation" class="form-control"
                   placeholder="Confirmation" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    name="submit">
                Create user
            </button>
        </form>
    </div>
</div>

