@page "/Profile/{id}/followers"

@model SampleApp.RazorPage.Pages.FollowersModel

<h1> Подписки @Model.ProfileUser.Name </h1>

<ul>
    @{
        foreach (var user in Model.Followers)
        {
            <li> <a class="btn btn-success" asp-page="Profile" asp-route-id="@user.Id">@user.Name</a> </li>
        }
    }
</ul>
