@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div flashes></div>

<div class="center jumbotron">

    @{
        var httpContext = HttpContext;
        var sessionId = httpContext.Session.GetString("SampleSession");

        if (sessionId == null)
        {
            <h1>Добро пожаловать в приложение Sample</h1>

            <a asp-page="Sign" class="btn btn-lg btn-primary">
                Регистрация!
            </a>
        }
        else
        {
            <h1>Добро пожаловать!</h1>
        }
    }




</div>
