@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}


<div class="center jumbotron">
    <h1>Добро пожаловать в приложение Sample</h1>

    <a asp-page="Sign" class="btn btn-lg btn-primary">
        Регистрация!
    </a>
</div>
