@page "/Profile/{id}";
@model SampleApp.RazorPage.Pages.ProfileModel



<div class="row">

    <div class="col-md-4 center">
        <h1> @Model.ProfileUser.Name</h1>
        <form method="post">

            @{
                if(Model.CurrentUser != Model.ProfileUser)
                {
                    if (!Model.IsFollow)
                    {
                        <button class="btn btn-success" type="submit">Подписаться</button>
                    }
                    else
                    {
                        <button class="btn btn-danger" type="submit">Отписаться</button>
                    }
                }

             }
          
        </form>

        <a class="btn btn-primary" asp-page="Followers" asp-route-id=@Model.ProfileUser.Id>Подписчики</a>

        <a class="btn btn-primary" asp-page="Followeds" asp-route-id=@Model.ProfileUser.Id>Подписки</a>


    </div>

    <div class="col-md-8">
        <h3>
            Cообщения @Model.ProfileUser.Microposts.Count()
        </h3>
        <ol class="microposts">
            @foreach (var post in Model.ProfileUser.Microposts)
            {
                <p>
                    <b>@post.User.Name: </b> @post.Content
                </p>
            }
        </ol>
    </div>
</div>





