@using SampleApp.Domen.Models
@inject IHttpClientFactory factory


<header class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/" id="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
            </svg>
            SampleApp
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">


                @{
                    if (Context.Session.GetString("SampleSession") != null)
                    {

                        var sessionId = Convert.ToInt32(Context.Session.GetString("SampleSession"));
                        HttpClient _http = factory.CreateClient("API");
                        var user = await _http.GetFromJsonAsync<User>($"{_http.BaseAddress}/Users/{sessionId}");
                        

                        <li class="nav-item"><a class="nav-link" href="/Users">Пользователи</a></li>
                        <li class="nav-item"><a class="nav-link" href="/About">Автор</a></li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @user.Name
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Profile/@user.Id">Профиль</a></li>
                                <li><a class="dropdown-item" href="/Edit/@user.Id">Обновление</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="Auth" asp-page-handler="Logout">Выход</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {

                        <li class="nav-item"><a class="nav-link" href="/Auth">Авторизация</a></li>
                    }
                 }





            </ul>
        </div>



    </div>
</header>